/* Navigation Menu at top of every page */
.nav-menu {
    background-color: rgba(183, 183, 183, 0.9);
    width: 100%;
    font-family: "Hamburger";
    font-size: 25pt;
    position: fixed;
    top: 0;
    float: left;
}

.search-button {
    width: 25px;
    height: 25px;
    position: relative;
    top: 10px;
    margin: 0px;
    padding: 0px;
}

#search-icon {
    width: 25px;
    height: 25px;
}

.nav-menu a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.home-page a:hover {
    display: block;
}

/* Content of the pages */
body {
	background-color: rgb(220, 220, 215);
	width: 100%;
	margin: 0px;
}

.hero-image {
	background-image: linear-gradient(rgba(25, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./fuzhou-city.jpg");
	filter: blur(0.3px);
	height: 50%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	color: rgba(210, 210, 210, 0.9);
	font-family: "Hamburger";
	font-size: 35pt;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-text h2 {
    font-size: 35pt;
    position: absolute;
    top: 40%;
    right: 0%;
}
