/* Navigation Menu at top of every page */
.drop-menu {
    background-color: rgba(183, 183, 183, 0.9);
    width: 100%;
    font-family: "Hamburger";
    font-size: 25pt;
    margin: 0;
    padding: 0;
}

.search-button {
    width: 25px;
    height: 25px;
    position: relative;
    top: 10px;
    margin: 0px;
    padding: 0px;
}

#search-icon {
    width: 25px;
    height: 25px;
}

/* Content of the pages */
body {
	background-color: rgb(220, 220, 215);
	width: 100%;
	margin: 0px;
}

.hero-image {
	background-image: linear-gradient(rgba(25, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./fuzhou-city.jpg");
	filter: blur(0.3px);
	height: 50%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	color: rgba(210, 210, 210, 0.9);
	font-family: "Hamburger";
	font-size: 35pt;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}