/********************************************
* | Navigation Bar at top of every page |   *
********************************************/
.nav-menu {
   /* background-color: rgba(183, 183, 183, 0.95);*/
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    height: 50px;
    font-family: "Hamburger";
    font-weight: bold;
    border: none;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.nav-menu a:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transform: translate(0px, -5px);
    height: 50px;
}

/* all of the navigation buttons */
.nav-menu a {
    float: left;
    text-align: center;
    font-size: 35px;
    height: 60px;
    width: 125px;
    padding-top: 5px;
}

.menu-select {
    font-family: "Hamburger";
    font-size: 25pt;
    border: none;
    cursor: pointer;
}

/* Home Page button */
.home-page {
    font-family: "Hamburger";
    font-size: 25pt;
    border: none;
    cursor: pointer;
    height: 45px;
    border: none;
    padding: 0 1;
}

/* 'Quick n' Easy' drop down */
.quick-drop-button {
    font-family: "Hamburger";
    font-size: 25pt;
    border: none;
    cursor: pointer;
    height: 45px;
    border: none;
    padding: 0 1;
}

.quick-content {
    font-family: "Hamburger";
    font-size: 25pt;
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    min-width: 160px;
    width: 100%;
    overflow: auto;
    z-index: 2;
}

.quick-drop-button:hover .quick-content {
    display: block;
}

/* Savory Page button */
.savory-page {
    font-family: "Hamburger";
    font-size: 25pt;
    border: none;
    cursor: pointer;
    height: 45px;
    border: none;
    padding: 0 1;
}

/* Sweets Page button */
.sweets-page {
    font-family: "Hamburger";
    font-size: 25pt;
    border: none;
    cursor: pointer;
    height: 45px;
    border: none;
    padding: 0 1;
}

/* includes the hero image */
.top-page {
	background-image: linear-gradient(rgba(25, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	    url("./fuzhou-city.jpg"); /* a slight red tint on hero image */
	filter: blur(0.3px);
	height: 400px;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: static;
	top: 0;
	margin-top: -50px;
	z-index: 0; /* first layer of page */
	overflow: hidden;

}

.hero-text {
	text-align: center;
	color: rgba(210, 210, 210, 0.95);
	font-family: "Hamburger";
	font-size: 35pt;
	position: static;
	padding-top: 100px;

}

.hero-text h2 {
    font-size: 35pt;
    position: relative;
    top: 40%;
    right: 0%;
}

/************************
* | Home Page content | *
************************/
body {
    /*background-color: rgb(255, 255, 255);*/
	background-color: rgb(220, 220, 215);
	width: 100%;
	margin: 0px;
}

.home-page-content {

}

.search-bar {
    font-family: "Hamburger";
    font-size: 30px;
    border-radius: 25px;
    border: solid rgba(183, 183, 183, 1);
    left: 50%;
    width: 80%;
    height: 35px;
    position: relative;
    left: 10%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 2px 10px;
}

.search-bar:focus, input:focus {
    outline: none; /* removes blue outline when search bar is active */
}

.front-page {
    font-family: "Hamburger";
    margin-left: 10px; margin-right: 10px;
    /*background-color: white;*/
}

.favorites-section {
    text-align: center;
    font-size: 55px;
    margin: 10px 0px;
    color: rgba(0, 0, 0, 1);
    font-weight: lighter;
}

.recipe-display {
    position: absolute;
    left: 50px;
    text-align: center;
    font-size: 20px;

}

.recipe-display h2, a {
    margin-top: 0px;
    color: black;
    text-decoration: none;
}

#steamed-bass img {
    width: 250px; height: 250px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.8);
}